# Database connection string (PostgreSQL)
DATABASE_URL=postgres://USER@localhost:5432/DB

# Used to encrypt JWT tokens
PAYLOAD_SECRET=replace-me

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=replace-me

# Used to validate preview requests
PREVIEW_SECRET=replace-me
